body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color:lightgrey; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#event {
    margin-left: 10px;
}

nav {
    margin-right: 15px;
}

nav a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-left: 25px;
    padding: 7px 11px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #333;
    color:white;
}